.loader {
    width: 36px;
    height: 36px;
   }
   
   .loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-top: 4px solid #3e3b41;
    border-right: 4px solid transparent;
    animation: spinner8217 1s linear infinite;
   }
   
   @keyframes spinner8217 {
    to {
     transform: rotate(360deg);
    }
   }